* {
	margin: 0px;
	padding: 0px;
	font-family: 'Just Me Again Down Here', cursive;
}
h1 {
	font-size: 80px;
}
h3 {
	font-size: 40px;
}


#content {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}
#content_cluster {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
input {
	border: none;
	border-bottom: 1px dotted #999;
	font-size: 30px;
	display: inline-block;
}
input:focus {
	outline: none;
}
#tags {
	margin-top: 10px;
}
.hashtag {
	font-size: 25px;
	color: white;
	background: #0c5b9e;
	display: inline-block;
	padding-left: 5px; padding-right: 5px;
	border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.message {
	font-size: 20px;
	display: inline-block;
}
#title_error {
	color: #dd4343;
}
#submit_button {
	color: #999;
	cursor: pointer;
}
#submit_button:hover {
	color: #0c4b9e;
}

.insta_img {
	width: 300px;
}
